<div class="row">
  <div class="col-xs-6">
    <h1>Novo Assunto</h1>
  </div>
  <div class="col-xs-6 ">
    <%= link_to 'Voltar', assuntos_path, class: 'btn btn-primary pull-right', style: 'margin-top: 20px' %>
  </div>
</div>

<%= form_for(@assunto) do |a| %>
	<% if @assunto.errors.any? %>
		<div class="alert alert-danger">
			<%= pluralize(@assunto.errors.count, "Erro") %>:
			<ul>
			<% @assunto.errors.full_messages.each do |mensagem| %>
				<li>
					<%= mensagem %>
				</li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form-group">
	    <%= a.label :assunto %><br>
	    <%= a.text_field :assunto, class: 'form-control'  %>
  	</div>
  	<div class="field">
	    <%= a.label :texto %><br>
	    <%= a.text_area :texto, class: 'form-control' %>
  	</div>
  	<div class="actions">
    	<%= a.submit "Salvar!", class: 'btn btn-success', style: 'margin-top: 10px; float: right;' %>
  	</div>
<% end %>

